@model Management_System.Models.Student

@{
    ViewBag.Title = "Student_ReadById";
}

<h2>Student_ReadById</h2>

<div>
    <h4>Student</h4>
    <hr />
    <table border="1">
        <tr>
            <th style="text-align: center" width="150">
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            &nbsp;
            <th style="text-align: center">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            &nbsp;
            <th style="text-align: center" width="170">
                @Html.DisplayNameFor(model => model.Password)
            </th>
            &nbsp;
            <th style="text-align: center" width="150">
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            &nbsp;
            <th style="text-align: center" width="150">
                @Html.DisplayNameFor(model => model.Active)
            </th>
            &nbsp;
            <th style="text-align: center" width="150">
                @Html.DisplayNameFor(model => model.createdOn)
            </th>
            &nbsp;
            <th style="text-align: center" width="150">
                @Html.DisplayNameFor(model => model.modifiedOn)
            </th>
            &nbsp;
            <th style="text-align: center" width="150">
                @Html.DisplayNameFor(model => model.deletedOn)
            </th>
            &nbsp;
            <th style="text-align: center" width="150">
                @Html.DisplayNameFor(model => model.isDeleted)
            </th>
            @*&nbsp;
                <th style="text-align: center" width="150">
                    @Html.DisplayNameFor(model => model.StudentGuid)
                </th>*@
            &nbsp;
            <th style="text-align: center" width="150">
                @Html.DisplayNameFor(model => model.BranchId)
            </th>
            &nbsp;
            <th style="text-align: center" width="150">
                <h5><b>Quick Actions</b></h5>
            </th>
        </tr>
        <tr>
            <td style="text-align: center">
                @Html.DisplayFor(model => model.StudentName)
            </td>
            <td style="text-align: center">
                @Html.DisplayFor(model => model.Email)
            </td>
            <td style="text-align: center">
                @Html.DisplayFor(model => model.Password)
            </td>
            <td style="text-align: center">
                @Html.DisplayFor(model => model.Mobile)
            </td>
            <td style="text-align: center">
                @Html.DisplayFor(model => model.Active)
            </td>
            <td style="text-align: center">
                @Html.DisplayFor(model => model.createdOn)
            </td>
            <td style="text-align: center">
                @Html.DisplayFor(model => model.modifiedOn)
            </td>
            <td style="text-align: center">
                @Html.DisplayFor(model => model.deletedOn)
            </td>
            <td style="text-align: center">
                @Html.DisplayFor(model => model.isDeleted)
            </td>
            @*<td style="text-align: center">
                    @Html.DisplayFor(model => model.StudentGuid)
                </td>*@
            <td style="text-align: center">
                @Html.DisplayFor(model => model.BranchId)
            </td>
            <td style="text-align: center">
                @Html.ActionLink("Edit", "Student_Edit", new { id = Model.StudentId }) |
                @Html.ActionLink("Delete", "Student_Delete", new { id = Model.StudentId })
            </td>
        </tr>
    </table>
</div>

<div>
    @Html.ActionLink("Back to List", "Student_Read")
</div>
